
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans');
  @import url('fonts.css');

  body
  {
    margin: 0;
    font-family: 'Open Sans';
    font-style: normal;
    overflow-x: hidden;
  }

  .b-text
  {
    color: #000;
  }

  .w-text
  {
    color: #fff;
  }

  .fs-I
  {
    background: url('img/header-bg.png') 100% / 100% no-repeat;
    background-size: cover;
  }

  .fs-II
  {
    background: url("img/specialty's-bg.jpg") 100% / 100% no-repeat;
    background-size: cover;
  }

  .fs-III
  {
    background: url('img/gril.jpg') 100% / 100% no-repeat;
    background-size: cover;
  }

  .fs-IIII
  {
    background: url('img/header-bg.png') 100% / 100% no-repeat;
    background-size: cover;
  }

  .fscreen
  {
    height: 100vh;
  }

  .header
  {
    display: flex;
  }

  .hl-container
  {
    display: flex;
    width: 100%;
    padding: 30px 80px 30px 80px;
    height: 1.2em;
  }

  .header-link
  {
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    margin-right: 80px;
    margin: 0 auto;
    cursor: pointer;
  }

  .header-link div
  {
    width: 0;
    height: 1px;
    background: rgb(245, 213, 213);
  }

  .header-link:hover div
  {
    position: relative;
    width: 100%;
    transition: 0.3s;
    background: #E8C300;
  }

  .header-link:not(hover) div
  {
    width: 0;
    transition: 0.4s;
  }

  .header-logo
  {
    position: absolute;
    top: 5em;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .vl-left
  {
    position: absolute;
    height: 100%;
    width: 1px;
    background: rgb(255, 255, 255, 0.2);
    left: 295px;
    top: 79px;
    align-self: flex-start;
  }

  .vl-right
  {
    position: absolute;
    height: 100%;
    width: 1px;
    background: rgb(255, 255, 255, 0.2);
    right: 295px;
    top: 81px;
    align-self: flex-start;
  }

  .g-line
  {
    position: absolute;
    width: 36%;
    height: 1px;
    opacity: 0.2;
    background: #fff;
    align-self: flex-end;
  }

  .v-line
  {
    position: absolute;
    height: 90%;
    width: 1px;
    background: rgb(255, 255, 255, 0.2);
    left: 50%;
    top: 190px;
    align-self: flex-start;
  }

  .v-line svg
  {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 50%;
    bottom: 20%;
    transform: translate(-50%, -50%);
  }

  .gl-left
  {
    left: 80px;
  }

  .gl-right
  {
    right: 80px;
  }

  .header-center
  {
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }

  .hc-utitle
  {
    font-weight: 700;
    font-size: 12px;
    font-style: normal;
    letter-spacing: 4px;
    color: #fff;
  }

  .hc-title
  {
    font-family: 'Banny-Bold';
    font-size: 75px;
    color: #fff;
  }

  .hc-dblock
  {
    width: 80px;
    height: 8px;
    border-radius: 50px;
    background: #E8C300;
    margin: 0 auto;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }

  .hc-btn
  {
    color: #fff;
    width: 180px;
    padding: 20px;
    border-radius: 7px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
  }

  .hcb-yellow
  {
    background: #E8C300;
    margin-right: 2rem;
  }

  .hcb-transparent
  {
    background: none;
    border: 1px solid rgb(255, 255, 255, 0.5);
    margin-left: 2rem;
  }

  .fs-left-group
  {
    position: absolute;
    left: 80px;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .fs-left-group div
  {
    color: #fff;
    transform: rotate(0.75turn);
    font-weight: 700;
    font-size: 16px;
  }

  .fs-right-group
  {
    position: absolute;
    right: 80px;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .fs-right-group svg:hover
  {
    width: 70px;
    height: 70px;
    transition: 0.3s;
  }

  .fs-right-group svg:not(hover)
  {
    transition: 0.4s;
  }

  .timg-container
  {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .sscreen
  {
    height: 600px;
  }

  .f-img
  {
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 475px;
    height: 475px;
    z-index: 2;
  }

  .text-container
  {
    text-align: center;
    width: 50%;
    z-index: 2;
  }

  .tc-title
  {
    font-size: 36px;
    font-family: 'Banny-Bold';
    z-index: 2;
  }

  .tc-block
  {
    width: 70px;
    height: 7px;
    background: #E8C300;
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    z-index: 2;
  }

  .tc-subtitle
  {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 1rem;
    z-index: 2;
  }

  .tc-text
  {
    font-size: 16px;
    font-weight: 400;
    z-index: 2;
  }

  .top-title
  {
    position: relative;
    top: 3rem;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 4px;
    text-align: center;
  }

  .tc-input
  {
    border: 2px solid #E5E5E5;
    border-radius: 5px;
    padding-left: 20px;
    outline: none;
    width: 280px;
    height: 60px;
    background: #E5E5E5;
    margin-bottom: 0.5rem;
  }

  .tc-input:focus
  {
    background: #fff;
    transition: 0.3s;
  }

  .tc-input:not(focus)
  {
    transition: 0.3s;
  }

  .tc-btn
  {
    width: 91%;
    margin: 0 auto;
    padding: 20px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    background: #E8C300;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
  }

  .timg-dtext
  {
    position: absolute;
    bottom: 1rem;
    color: #33333380;
  }

  .timg-lline
  {
    position: absolute;
    top: -15px;
    left: 300px;
    height: 100%;
    width: 1px;
    background: rgb(255, 255, 255, 0.2);
    z-index: 1;
  }

  .timg-rline
  {
    position: absolute;
    top: -15px;
    right: 300px;
    height: 100%;
    width: 1px;
    background: rgb(255, 255, 255, 0.2);
    z-index: 1;
  }

  .timg-cline
  {
    position: absolute;
    top: -15px;
    left: 49.95%;
    height: 100%;
    width: 1px;
    background: rgb(255, 255, 255, 0.2);
    z-index: 1;
  }

  .slider
  {
    display: flex;
  }

  .slider-circle
  {
    background: rgb(255, 255, 255, 0.4);
    border-radius: 100%;
    width: 13px;
    height: 13px;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    margin-bottom: 1.5rem;
  }

  .active
  {
    background: rgb(255, 255, 255, 1);
  }

  .tc-food-list
  {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .tc-food-list div
  {
    padding: 24px;
    font-size: 14px;
    font-weight: 700;
    border-right: 1px solid hsla(0, 0%, 20%, 0.2);
    border-left: 1px solid hsla(0, 0%, 20%, 0.2);
  }

  .tc-food-list div.tcf-first
  {
    border-left: none;
  }

  .tc-food-list div.tcf-last
  {
    border-right: none;
  }

  .dishes-container
  {
    display: flex;
    width: 100%;
    background: grey;
    justify-content: space-around;
  }

  .dishesi-title
  {
    font-size: 18px;
    font-weight: 600;
  }
