
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans');
  @import url('fonts.css');

  body
  {
    margin: 0;
    font-family: 'Open Sans';
    font-style: normal;
    overflow-x: hidden;
  }

  .b-text
  {
    color: #000;
  }

  .w-text
  {
    color: #fff;
  }

  .fs-I
  {
    background: url('img/header-bg.png') 100% / 100% no-repeat;
    background-size: cover;
  }

  .fs-II
  {
    background: url("img/specialty's-bg.jpg") 100% / 100% no-repeat;
    background-size: cover;
  }

  .fs-III
  {
    background: url('img/header-bg.png') 100% / 100% no-repeat;
    background-size: cover;
  }

  .fs-IIII
  {
    background: url('img/header-bg.png') 100% / 100% no-repeat;
    background-size: cover;
  }

  .fscreen
  {
    height: 100vh;
  }

  .header
  {
    display: flex;
  }

  .hl-container
  {
    display: flex;
    width: 100%;
    padding: 30px 80px 30px 80px;
    height: 1.2em;
  }

  .header-link
  {
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    margin-right: 80px;
    margin: 0 auto;
    cursor: pointer;
  }

  .header-link div
  {
    width: 0;
    height: 1px;
    background: rgb(245, 213, 213);
  }

  .header-link:hover div
  {
    position: relative;
    width: 100%;
    transition: 0.3s;
    background: #E8C300;
  }

  .header-link:not(hover) div
  {
    width: 0;
    transition: 0.4s;
  }

  .header-logo
  {
    position: absolute;
    top: 4.5em;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .vl-left
  {
    position: absolute;
    height: 100%;
    width: 1px;
    background: rgb(255, 255, 255, 0.2);
    left: 295px;
    top: 82px;
    align-self: flex-start;
  }

  .vl-right
  {
    position: absolute;
    height: 100%;
    width: 1px;
    background: rgb(255, 255, 255, 0.2);
    right: 295px;
    top: 83px;
    align-self: flex-start;
  }

  .g-line
  {
    position: absolute;
    width: 36%;
    height: 1px;
    opacity: 0.2;
    background: #fff;
    align-self: flex-end;
  }

  .v-line
  {
    position: absolute;
    height: 90%;
    width: 1px;
    background: rgb(255, 255, 255, 0.2);
    left: 50%;
    top: 190px;
    align-self: flex-start;
  }

  .v-line svg
  {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 50%;
    bottom: 20%;
    transform: translate(-50%, -50%);
  }

  .gl-left
  {
    left: 80px;
  }

  .gl-right
  {
    right: 80px;
  }

  .header-center
  {
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }

  .hc-utitle
  {
    font-weight: 700;
    font-size: 12px;
    font-style: normal;
    letter-spacing: 4px;
    color: #fff;
  }

  .hc-title
  {
    font-family: 'Banny-Bold';
    font-size: 75px;
    color: #fff;
  }

  .hc-dblock
  {
    width: 80px;
    height: 8px;
    border-radius: 50px;
    background: #E8C300;
    margin: 0 auto;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }

  .hc-btn
  {
    color: #fff;
    width: 180px;
    padding: 20px;
    border-radius: 7px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
  }

  .hcb-yellow
  {
    background: #E8C300;
    margin-right: 2rem;
  }

  .hcb-transparent
  {
    background: none;
    border: 1px solid rgb(255, 255, 255, 0.5);
    margin-left: 2rem;
  }

  .fs-left-group
  {
    position: absolute;
    left: 80px;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .fs-left-group div
  {
    color: #fff;
    transform: rotate(0.75turn);
    font-weight: 700;
    font-size: 16px;
  }

  .fs-right-group
  {
    position: absolute;
    right: 80px;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .fs-right-group svg:hover
  {
    width: 70px;
    height: 70px;
    transition: 0.3s;
  }

  .fs-right-group svg:not(hover)
  {
    transition: 0.4s;
  }

  .timg-container
  {
    position: relative;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .sscreen
  {
    height: 600px;
  }

  .f-img
  {
    width: 475px;
    height: 475px;
  }

  .text-container
  {
    text-align: center;
    width: 50%;
  }

  .tc-title
  {
    font-size: 36px;
    font-family: 'Banny-Bold';
  }

  .tc-block
  {
    width: 70px;
    height: 7px;
    background: #E8C300;
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .tc-subtitle
  {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .tc-text
  {
    font-size: 16px;
    font-weight: 400;
  }

  .top-title
  {
    position: relative;
    top: 2rem;
    bottom: 2rem;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 4px;
    text-align: center;
  }

